<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Portal de atualização</title>
</head>
<body>
    {% set messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="flash-messages" style="display: none;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        <header>
            <h2>Portal de atualização do Monday para o BigQuery</h2>
            <p>Qual informação você deseja atualizar?</p>
        </header>
        <div class="form">
            <a href="/current_projects"><button>Projetos Atuais</button></a>
            <a href="/old_projects"><button>Projetos Históricos</button></a>
            <a href="/consultant_allocation"><button>Dados sobre consultores</button></a>
        </div>
        <footer>
            <img src="{{ url_for('static', filename='img/logo.svg')}}" alt="Logo">
        </footer>
    </div>

    <script>
        // Captura as mensagens flash e exibe em um alert
        document.addEventListener("DOMContentLoaded", function() {
            const flashMessages = document.querySelectorAll("#flash-messages li");
            flashMessages.forEach(message => {
                alert(message.textContent);  // Exibe cada mensagem em um alert separado
            });
        });
    </script>
</body>

</html>